@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;800;1000&family=Poppins:wght@500;900&family=Questrial&display=swap");
body {
  height: 1800px;
  font-family: "Mulish", sans-serif;
}
h1 {
  font-size: 60px;
}
.text-purple {
  color: purple;
}
.nav-link:hover {
  border-bottom: 3px solid purple;
}
.nav-link {
  color: black;
}
#current {
  color: purple;
  border-bottom: 3px solid purple;
}
.navbar {
  clear: both;
}
.announce {
  background-color: purple;
}
.left {
  float: left;
}
.carous {
  background-color: black;
}
.carous img {
  opacity: 0.4;
  height: 700px;
}
.carousel-caption {
  top: 10%;
  text-align: left;
}
.btn-r {
  border-radius: 20px;
}
.btn-info {
  background-color: purple;
  color: #ffffff;
}
.btn:hover {
  background-color: purple;
  color: #ffffff;
  opacity: 0.6;
}
